body {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	background-color: #2E2728;
}

#luck {
}

#luck:hover {
}

#woods {
}

#bathroom {
}

#beautiful {
	}

.photoContainer {
	width: 280px;
	height: 300px;
	float: left;
	border-color: black;
	border-style: solid;
	overflow: hidden;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	}

.photoContainer:hover {
	opacity: .2;

}

.caption {
	color: white;
	float: left;
	display: block;
}