body {
  font-family: 'lato', sans-serif;
  font-size: 18px;
  padding-right: 50px;
  /*
  border-right: 2px solid grey;
   * Stripe only appears on left side.
  */
  padding-left: 50px;
  border-left: 4px solid grey;
  /* Setting margin-top and left to use 0 from default value of 8 so stripe is properly aligned. */
  margin-top: 0;
  margin-left: 0;
}

.Date {
  color: grey; opacity: .5;
  font-weight: lighter;
/*
  margin-top: 
 * This isn't vaid. You need to specify an value for attribute, e.g. 0;
*/
}

.OnBrooklyn {
  font-size: 30px;
  font-weight: lighter;
}

.Vintage {
  font-size: 30px;
  font-weight: lighter;
}

.CapitalC {
  float: left; 
  color: gray; opacity: .3; 
  font-size: 85px;
  line-height: 60px;
  padding-right: 8px;
  padding-left: 3px;
  padding-bottom: 8px;
}

.CapitalS{
  float: left; 
  color: gray; opacity: .3; 
  font-size: 85px;
  line-height: 60px;
  padding-right: 8px;
  padding-left: 3px; 
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

.continueText {
  float: right;
  padding-bottom: 20px;
  color: red;
}

#title {
  color: red;
  font-size: 60px;
  font-weight: lighter;
  padding-bottom: 0; /* None isn't a valid value for padding-bottom. It expects a number, e.g. 0, or inherit.*/
  /* Setting margin-top of h1 to 0 so left gray stripe is aligned properly. */
  margin-top: 0;
}

#headerNav a {
  padding-bottom: .2em;
  margin-right: .7em;
  color: grey; opacity: .5;
  font-size: 1em;
  text-decoration: none;
  border-bottom: 2px solid grey;
}

#mainContent {
  margin-top: 50px;
}

#BottomNav a {
  padding-bottom: .2em;
  margin-right: .7em;
  color: red;
  font-size: 1em;
  text-decoration: none;
  border-bottom: none;
  border-left: 1px solid gray; /* Design comp has a divide between the links */
  padding-left: 10px;
}

#BottomNav a:first-child {
    border-left: none;
    padding-left: 0;
}

#Footer {
  color: gray; opacity: .5
}

