
.wrapper {
  width: 220px;
  height: 700px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  border: solid black;
  margin: 25px;
  float: left;
}

.light {
  width: 220px;
  height: 220px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 50%;
  padding-left: 5px;
  padding-right: 5px;
}

.red {
  background-color: red;
  opacity: .2;
}

.red:hover {
  background-color: red;
  opacity: .8;
}

.orange {
  background-color: orange;
  opacity: .2;
}

.orange:hover {
  background-color: orange;
  opacity: .8;
}

.green {
  background-color: green;
  opacity: .2;
}

.green:hover {
  background-color: green;
  opacity: .8;
}

#red {
  font-size: 42px;
  color: black;
  text-align:center;
  padding-top: 80px;
  padding-bottom: 80px;
}

#orange {
  font-size: 42px;
  color: black;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

#green {
  font-size: 42px;
  color: black;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}