.container {
	border-color: black; 
	border-style: dotted;
	width: 100px;
	height: 100px;
}

#rock {
	padding: 20px;
	float: left;
	width: 40px;
	height: 40px;
}

#paper {
	float: left;
	width: 20px;
	height: 20px;
}

#scissors {
	float: left;
	width: 40px;
	height: 40px;
}
